################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KuldeepBookStore/.vs/KuldeepBookStore
/KuldeepBookStore/KuldeepBookStore/bin/Debug/net5.0
/KuldeepBookStore/KuldeepBookStore/obj

